#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 50px;
  height: $header-height;
  display: flex;
  align-items: center;
  background-color: $blue;
  color: white;
  box-shadow: $header-shadow;
  z-index: 10;

  @include sp-layout {
    justify-content: space-around;
    position: fixed;
    padding: 0;
  }

  .header-title {
    flex-grow: 1;
    text-align: center;
    font-size: $font-size-larger;
    font-weight: 700;

    @include sp-layout {
      display: none;
    }
  }
  .search {
    @include pc-layout {
      width: 185px;
    }

    @include sp-layout {
      flex: 1;
    }
  }

  .dialog-content {
    input {
      width: 100%;
      padding: 0 15px;
      height: 40px;
      border-radius: 5px;
      box-shadow: none;
    }

    p {
      color: $black-light;
    }
  }

  .usericon {
    margin-left: 20px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    
    i {
      vertical-align: middle;
    }

    span {
      margin-left: 8px;
      vertical-align: middle;
    }

    @include sp-layout {
      padding: 0 10px;
      margin-left: 0;
      span {
        display: none;
      }
    }
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    vertical-align: middle;
  }

  .icon-list {
    vertical-align: middle;
    font-size: 30px;
    padding: 0 10px;

    @include pc-layout {
      display: none;
    }
  }
}