.comment-item {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  user-select: text;

  .avatar {
    align-self: start;
    height: 40px;
    width: 40px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  .comment-content {
    padding: 0 0 0 20px;
    flex: 1;

    .comment-text {
      .username {
        color: $blue-dim;
      }
    }
    .comment-time {
      padding: 10px 0 0 0;
      color: $grey-dark;
      font-size: $font-size-small;
    }
  }

  .comment-reply {
    padding: 7px 12px;
    margin-top: 7px;
    background-color: $bg-grey;
    border-radius: 7px;
  }

  border-bottom: 0.5px solid $bg-dark;
}