.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $bg-white;
  z-index: 20;
  user-select: none;

  img {
    height: 140px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}