.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $playerbar-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: $player-shadow;
  z-index: 10;
  padding: 0 40px;
  justify-content: space-between;

  @include sp-layout {
    padding: 0 10px;
  }

  .player-coverimg {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 10%;

    @include sp-layout {
      margin-left: 0;
      padding: 0;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
    }

    .music-bar {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
  
      .music-bar-meta {
        padding: 0 10px 4px 10px;
        display: flex;
        justify-content: space-between;

        .music-bar-info {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;  
          width: 300px;

          @include sp-layout {
            width: 100px;
          }
        }
      }
  
      .music-progress {
        width: 100%;
      }
    } 
  }

  .music-player-btns {
    display: flex;
    align-items: center;

    @include sp-layout {
      display: none;
    }

    i {
      color: $sakura;
      cursor: pointer;
    }

    .play-btn {
      margin: 0 22px;
      border-radius: 45px;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $sakura;
    }

    .icon-music-prev, .icon-music-next {
      font-size: 32px;
    }

    .icon-play, .icon-pause {
      font-size: 32px;
      color: white;
    }
  }

  .music-volume {
    display: flex;
    align-items: center;
    margin-left: 36px;

    i {
      font-size: 18px;
    }

    .music-volume-progress {
      width: 100px;
      margin-left: 7px;
    }

    @include sp-layout {
      display: none;
    }
  }

  .disable {
    pointer-events: none;
  }

  .mode-btns {
    display: flex;
    align-items: center;
    margin-left: 20px;

    .sp-icon {
      @include pc-layout {
        display: none;
      }
      @include sp-layout {
        font-size: 24px;
        padding: 0 10px 0.2px 0;
      }
    }

    .mini-playlist {
      position: relative;
      margin-left: 12px;

      @include sp-layout {
        display: none;
      }

      i {
        font-size: 20px;
        cursor: pointer;
      }

      .mini-playlist-content {
        position: fixed;
        background: white;
        top: 0;
        right: 0;
        bottom: $playerbar-height;
        width: 440px;
        
        @include pc-layout {
          box-shadow: $img-shadow;
        }
      }
    }
  }
}

.mini-playlist-transition-enter-active {
  animation: fadeInUpScaleX .5s;
}

.mini-playlist-transition-leave-active {
  animation: fadeInUpScaleX .5s reverse;
}